<div>
  <form #newProject = "ngForm" (ngSubmit) = "addProject(newProject.value.name)">
    <input matInput type = "text" name = "name" placeholder = "new Project" ngModel>
    <button mat-raised-button  color = "accent" type="submit" value="submit">add</button>
  </form>
  <div *ngFor="let project of viewProjects()"> 
    <div class="container">
      <h2 class="project-name">{{project.name}}</h2>
    </div>
      <app-progressbar [currentProject]="project"></app-progressbar>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
             <h3 class="taskTitle"> List of Tasks</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <app-task [currentProject]="project"></app-task>
      </mat-expansion-panel>
  </div>
</div>
