<div>
  <div *ngFor="let task of getTasks(currentProject)">
  {{task.description}}<mat-form-field appearance = "fill">
    <mat-select #matSelect value = "{{task.status}}" (selectionChange)="changeStatus(matSelect.value, task)">
      <mat-label>Task status</mat-label>
      <mat-option value = 0>open</mat-option>
      <mat-option value = 1>review</mat-option>
      <mat-option value = 2>finished</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <form #newTask = "ngForm" (ngSubmit) = "addTask(newTask.value, currentProject)">
    <input type = "text" name = "description" placeholder = "create new task" ngModel>
  <br>

    <input type="submit" value="submit">
  </form>
</div>
