<div>
  <div class="container" *ngFor="let task of viewTasks(currentProject.name)">
    <div class="float-right">
      <mat-form-field appearance = "fill" color="accent">
        <mat-select #Select [value] = "task.status"  (selectionChange)="changeStatus(Select.value, task.description, currentProject.name)">
          <mat-label>Task status</mat-label>
          <mat-option [value] = "status.OPEN">open</mat-option>
          <mat-option [value] = "status.REVIEW">review</mat-option>
          <mat-option [value] = "status.FINISHED">finished</mat-option>
        </mat-select>    
      </mat-form-field>
    </div>
    <p>{{task.description}}</p>
  <div class="clear-wrap"></div>
  </div>
  <form #newTask = "ngForm" (ngSubmit) = "addTask(newTask.value.description, currentProject.name)">
    <input matInput class="field-position" type="text" name = "description" placeholder = "new Task" ngModel>
    <button mat-raised-button  color = "accent" type="submit" value="submit">add </button>
  </form>
</div>
